.navbar-header {
    /* background-color: #4aaaa5; */
    background-image: url('../images/portfolioBackground.png');
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2px;
    margin-bottom:2px;
    color: white;
    
}

.navbar-brand {
/* background-color: #4aaaa5; */
/* background-image: url('../images/portfolioBackground.png'); */
font-size: 20px;
/* color: white; */
/* text-align: center; */
}

body {
    background-image: url('../images/portfolioBackground.png');
    /* C:\Users\btomm\Desktop\AA_HTML_PROJECTS\Bootstrap-Portfolio\assets\images\portfolioBackground.png */
}

div.containerAboutMe {
    height: 650px;
    /* margin-top:20px; */
    background-color:#fff;
    font-size: 16px;
    padding-left: 20px;
    padding-right:30px;
    overflow: auto;
    margin-bottom: 20px;
    color:#777;
}

div.profilePic {
    margin-right: 10px;
    margin-left: 10px;
    /* width:90%; */
    float: left;
}

div.containerCWM {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 260px;
    background-color:#fff;
    margin-bottom:25px;
    color:#777;
    /* padding:15px; */
}
.topFooter {
    /* margin-top:20px; */
    background-color: #fff;
    height: 10px;
}
div.bottomFooter {
    background-image: url('../images/portfolioBackground.png');
    height: 50px;
    text-align: center;
    padding-top:10px;
    color:white;
}

.connect {
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
    font-size: 25px;
}

.about_me {
    color: #666666;
    padding-left: 20px;
    padding-top: 0px;
    /* padding-bottom: 10px; */
    font-size: 25px;
}